<div class="sidebarApp close">
    <div class="logo-details">
        <i class='bx bxl-c-plus-plus'></i>
        <span class="logo_name">COM</span>
    </div>
    <ul class="nav-links">
        <li>
            <a data-text="Inicio" class="dinamicLink" data-src="/notify" href="#">
                <i class='bx bx-bell'></i>
                <span class="link_name">Inicio</span>
            </a>
            <ul class="sub-menu blank">
                <li><a data-src="/notify" data-text="Inicio" class="link_name dinamicLink" href="#">Inicio</a></li>
            </ul>
        </li>
        <li>
            <a data-text="Pedidos" class="dinamicLink" data-src="/orders" href="#">
                <i class='bx bx-grid-alt'></i>
                <span class="link_name">Pedidos</span>
            </a>
            <ul class="sub-menu blank">
                <li><a data-src="/orders" data-text="Pedidos" class="link_name dinamicLink" href="#">Pedidos</a></li>
            </ul>
        </li>
        <li>
            <a class="dinamicLink" data-text="Consultar Pedidos" data-src="/consultOrder" href="#">
                <i class='bx bx-cart-alt'></i>
                <span class="link_name">Consultar Pedidos</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name dinamicLink" data-text="Consultar Pedidos" data-src="/consultOrder" href="#">Consultar Pedidos</a></li>
            </ul>
        </li>
        <li>
            <a  class="dinamicLink" data-text="Configurações" data-src="/settings" href="#">
                <i class='bx bx-cog'></i>
                <span class="link_name">Setting</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name dinamicLink" data-text="Configurações" data-src="/settings" href="#">Setting</a></li>
            </ul>
        </li>

    </ul>
</div>
<section class="home-section">
    <div class="home-content">
        <i class='bx bx-menu'></i>
        <div class="navbar-wrapper">
            <span id="navbar-title" class="navbar-brand navbar-title">Pricing Page</span>
        </div>
        <i style="font-size: 35px; cursor: pointer" id="logout" class='ml-auto mr-3 bx bx-power-off bx-2x'></i>

    </div>
