<!DOCTYPE html>
<%- include('include/head'); %>
<html lang="en">
<body>
<%- include('include/sidebar'); %>
<div id="content"></div>
<%- include('include/footer'); %>
</body>
<script src="/js/index.js"></script>
</html>